# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# IDEs
.vscode/
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.opendb
*.VC.db
*.slnx
.DS_Store

# Plastic SCM
.plastic/
